@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Joan&family=Roboto:wght@700&display=swap');
@media only screen and (min-width: 300px) {
    body {
        font-family:'Joan', serif !important;
    }
    .column {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 10px;
        height: 400px;
        margin-bottom: 10px;
    }
    .column1{
        display:inline-block;
        text-align: center;
        font-size: large;
        font-family: 'Joan', serif;
        font-weight: bold;
    
    }
    .column2{
        height:530px;
        width:auto;
        margin:15px;
        background-image: url(https://live.staticflickr.com/3241/3102922077_86c3b0ba0a_b.jpg);
        background-position: center;
        background-size: cover;
    }
}